<%-include('navbar.ejs')%>
<div class="container-fluid p-5" style="border: 1px solid black;">
    <form action="/admin/save_about" method="post">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-dark">About Detail</h3>
        </div>
        <div class="row mt-3">
            <div class="col-md-7">
                <div class="col-md-12 mt-3">
                    Discription 1
                    <input type="text" name="disc1" value="<%=about_detail[0].disc_1%>" id="" class="form-control" placeholder="Discription1">
                    <!-- <textarea type="text" name="disc1" value="<%=about_detail[0].disc_1%>" id="" class="form-control" placeholder="Discription1"><%=about_detail[0].disc_1%></textarea> -->

                </div>
                <div class="col-md-12 mt-3">
                    Discription 2
                    <input type="text" name="disc2" value="<%=about_detail[0].disc_2%>" id="" class="form-control" placeholder="Discription2">
                    <!-- <textarea type="text" name="disc1" value="<%=about_detail[0].disc_2%>" id="" class="form-control" placeholder="Discription1"><%=about_detail[0].disc_2%></textarea> -->

                </div>
                <div class="col-md-12 mt-3">
                    Name
                    <input type="text" name="name" value="<%=about_detail[0].name%>" id="" class="form-control" placeholder="Name">
                </div>
                <div class="col-md-12 mt-3">
                    Address
                    <input type="text" name="address" value="<%=about_detail[0].address%>" id="" class="form-control" placeholder="Address">
                </div>
            </div>
            <div class="col-md-5">
                <div class="col-md-12 mt-3">
                    Study
                    <input type="text" name="study" value="<%=about_detail[0].study%>" id="" class="form-control" placeholder="Study">
                </div>
                <div class="col-md-12 mt-3">
                    Degree
                    <input type="text" name="degree" value="<%=about_detail[0].degree%>" id="" class="form-control" placeholder="Degree">
                </div>
                <div class="col-md-12 mt-3">
                    Mail
                    <input type="text" name="mail" value="<%=about_detail[0].mail%>" id="" class="form-control" placeholder="Mail">
                </div>
                <div class="col-md-12 mt-3">
                    Phone
                    <input type="text" name="phone" value="<%=about_detail[0].phone%>" id="" class="form-control" placeholder="Phone">
                </div>
            </div>
            <div class="col-md-12 text-center mt-4">
                <button class="btn btn-dark w-100">Save About Detail</button>
            </div>
        </div>
    </div>
    </form>
</div>



<div class="container-fluid mt-5 p-5" style="border: 1px solid black;">
<form action="save_service" method="post">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-dark">Add Service</h3>
        </div>
        <div class="col-md-8">
            <input type="text" class="form-control" name="service" required>
        </div>
        <div class="col-md-4">
            <button class="btn btn-dark w-100">
                Save Service
            </button>
        </div>
    </div>
</form>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12 mt-2">
            <table class="table table-hover table-sm">
                <tr >
                    <th>Sn</th>
                    <th>Service Name</th>
                    <th>Action</th>

                </tr>
                <%for(var i=0;i<service_list.length;i++){%>
                    <tr>
                       
                        <td><%=i+1%></td>
                        <td><%=service_list[i].service%></td>
                        <td >
                            <a class="btn btn-dark ms-5" href="edit/<%=service_list[i].service_id%>"><i class="fa fa-edit"></i></a>
                            <a class="btn btn-dark" href="delete/<%=service_list[i].service_id%>"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                <%}%>
            </table>

        </div>
    </div>
</div>
</div>

<div class="container-fluid mt-5 p-5" style="border: 1px solid black;">
    <form action="/admin/intrest" method="post">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-dark">Add Intrest</h3>
        </div>
        <div class="col-md-8">
        <input type="text" name="intrest" class="form-control" required>
        </div>
        <div class="col-md-4">
            <button class="btn btn-dark w-100">Save</button>
        </div>
    </div>
</form>
    <div class="row p-4">
        <table class="table  table-hover table-sm">
            <tr>
                <th>Sn</th>
                <th>Interest Name</th>
               <th>Action</th>
            </tr>
            <%for(var i=0;i<interest.length;i++){%>
                <tr>                
                    <td><%=i+1%></td>
                <td><%=interest[i].interest%></td>
                <td >
                    <a class="btn btn-dark" href="edit_interest/<%=interest[i].interest_id%>"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-dark" href="delete_intrest/<%=interest[i].interest_id%>"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
            <%}%>
        </table>
    </div>
</div>


<div class="container-fluid p-5 mt-5" style="border: 1px solid black;">
    <form action="/admin/save_programming" method="post">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-dark">Add Programming Language</h3>
        </div>
        <div class="col-md-4">
            
            <input type="text" name="t_name" class="form-control" placeholder="Enter Technology Name" required>
        </div>
        <div class="col-md-4">
            
            <input type="text" name="percentage" class="form-control" placeholder="Enter Parcentage %" required>
        </div>
        <div class="col-md-4">
            <!-- <input type="text" name="percentage" class="form-control"> -->
            <button class="btn btn-dark w-100">Save Language</button>
        </div>
    </div>
</form>

<div class="row mt-4 p-4">
    <table class="table table-hover">
        <tr>
            <th>Sn</th>
            <th>Technology Name</th>
            <th>percentage</th>
            <th></th>
        </tr>
        <%for(var i=0;i<programming.length;i++){%>
            <tr>
                <td><%=i+1%></td>
                <td><%=programming[i].t_name%></td>
                <td><%=programming[i].percentage%></td>
                <td >
                    <a class="btn btn-dark" href="edit_tech/<%=programming[i].p_id%>"><i class="fa fa-edit"></i></a>
                    <a class="btn btn-dark" href="delete_tech/<%=programming[i].p_id%>"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        <%}%>
    </table>
</div>
</div>
<%-include('footer.ejs')%>