<%-include("navbar.ejs")%>
    <div class="container-fluid">
        <div class="row p-5">
            <table class="table table-hover" style="font-size: 13px;">
                <tr>
                    <th>Action</th>
                    <th>Sn</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Subject</th>
                    <th>Message</th>
                    <th>Date</th>
                    <th>Time</th>
                </tr>
                <%for(var i=0;i<contact_form.length;i++){%>
                    <tr>
                        <th>
                            <a href="/admin/delete_contact/<%=contact_form[i].c_id%>">
                                <button class="btn btn-dark"><i class="fa fa-trash"></i></button>
                            </a>
                        </th>
                        <td><%=i+1%></td>
                        <td><%=contact_form[i].Name%></td>
                        <td><%=contact_form[i].Email%></td>
                        <td><%=contact_form[i].subject%></td>
                        <td><%=contact_form[i].Message%></td>
                        <td><%=contact_form[i].date%></td>
                        <td><%=contact_form[i].time%></td>
                    </tr>
                <%}%>
            </table>
        </div>
    </div>
<%-include("footer.ejs")%>
