<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <title>Bootstrap Example</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/0ca23af288.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
<script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <link rel="stylesheet" href="css/Rstyle.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luckiest+Guy&display=swap');
    </style>
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luckiest+Guy&family=Patrick+Hand&display=swap');
      
    </style>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Add this script tag in the <head> section of your HTML file -->
      <style>
        @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
      </style>
<style>
  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
</style>  


</head>
<body>
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="image/logo.jpg" alt=""></a>
          <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav" id="ul">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/" style="background-color: black !important; color: white !important;">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/all">Portfolio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/contact">Contact</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- navbar -->
</body>
<section id="home" >
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 myimg">
        <img src="<%=home_data[0].image1%>" alt="">
      </div>
      <div class="col-md-4 myimg2">
        <img src="<%=home_data[0].image2%>" alt="">
      </div>
      <div class="col-md-5 myinf" data-aos="fade-down">
        <h1><%=home_data[0].name%></h1>
        <div class="span"></div>
        <p class="first_p"><%=home_data[0].position%></p>
        <p class="d_none"><%=home_data[0].discription%></p>
        <button class="resume_btn"> <a href="image/res.jpg" download="">Download Resume</button></a>
      </div>
    </div>
  </div>
</section>
<div class="iconss">
  <ul type="none">
    <li><a href="<%=social[0].insta_link%>"><i class="icoo fa-brands fa-instagram"></i></li></a>
    <li><a href="<%=social[0].whatsapp_link%>"><i class="icoo fa-brands fa-whatsapp"></i></li></a>
    <li><a href="<%=social[0].linkdin_link%>"><i class="icoo fa-brands fa-linkedin"></i></li></a>
    <li><a href="<%=social[0].github_link%>"><i class="icoo fa-brands fa-github"></i></li></a>
  </ul>

</div>
<script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
<script>
  AOS.init({
      duration: 400,
      offset: 400,
      easing: 'ease-in',
      once: false
  });
</script>

</html>